.pagination{
  position: fixed;
}

.wrapper {
  display: flex;
  flex-wrap:wrap;
  width: 3072px;
  height: 2304px;
  background-image: url("img/bg.png");
  background-size: contain;
  background-repeat: no-repeat;  
}

.slider{
  width: 1024px;
  height: 768px;
}